@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
    border: none;
    padding: 0;
    outline: none;
    text-decoration: none;
    margin: 0;
}

.button-black {
    background-color: #000000;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    min-height: 1600px;
}

header {
    display: flex;
    min-width: 1200px;
    box-shadow: 0px 0px 14px -4px #ccc;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 70px;
}

nav h1 {
    display: flex;
    width: 212px;
    height: 24px;
    padding: 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


nav ul {
    display: flex;
    padding: 32px;
    gap: 20px;
    font-size: 16px;
    line-height: 16px;
    max-height: 70px;
    font-family: 'Inter', sans-serif;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    color: red;
}

.dark {
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 0px 8px 3px #ccc;
    width: 112px;
    cursor: pointer;
    height: 43px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-top: 40px;
}

.papai {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 40px;
}

.products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 20px;
}

.listaProdutos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 259px;
    height: 336px;
    box-shadow: 0px 0px 14px -4px #ccc;
    gap: 6px;
    font-family: 'Inter', sans-serif;
    padding: 3px;
}

.backImg {
    background: rgb(236, 250, 255);
    display: flex;
    justify-content: center;
}

.card img {
    width: 191px;
    height: 140px;
}

.products-content .tagRemocao {
    display: none;
}

.listaProdutos .tagRemocao {
    display: none;
}

.card h2 {
    font-size: 18px;
}

.departamento {
    background-color: rgb(250, 83, 83);
    width: 60px;
    border: 1px solid blue;
    border-radius: 5px;
    gap: 2px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.card .descricao {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 400;
    width: 253px;
    min-height: 68px;
    max-height: 70px;
    text-align: justify;
}

.descricao p:hover {
    font-weight: 700;
}

.card .tagPreco {
    font-size: 14px;
}

.card .tagBtn {
    background-color: white;
    width: 160px;
    height: 25px;
    border-radius: 7px;
    font-size: 13px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.tagBtn:hover {
    background-color: rgb(177, 248, 255);
    width: 160px;
    height: 25px;
}

.card:hover {
    box-shadow: 0px 0px 14px -4px rgb(49, 217, 255);
}

.btnCarrinho {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    font-family: 'Inter', sans-serif;
}


.carrinhoBtns {
    display: flex;
}


.btnCarrinho .inputBusca {
    height: 50px;
    width: 246px;
    border-radius: 0px;
    border: 1px solid rgba(245, 245, 245, 1)
}

.btnCarrinho .inputBtn {
    width: 96px;
    background-color: rgb(177, 248, 255);
    font-weight: 600;
}

.btnCarrinho .carrinho {
    display: flex;
    flex-direction: column;
    width: 342px;
    justify-content: center;

}

.carrinho .tituloCarrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 342px;
    height: 50px;
    background-color: rgb(177, 248, 255);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.carrinho ul {
    display: flex;
    background-color: rgb(233, 233, 233);
    overflow-y: scroll;
    min-height: 300px;
    max-height: 600px;
    gap: 7px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.carrinho ul .carrinhoVazio {
    display: flex;
    width: 325px;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    height: 300px;
    color: black;
}

.carrinho ul li {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    height: 110px;
    color: black;
    width: 310px;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 10px;
}


.carrinho .tagRemocao {
    background-color: white;
    align-items: flex-start;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    min-width: 150px;
    max-width: 170px;
}

.cardCarrinho .tituloItem {
    display: flex;
    font-size: 14px;
    min-width: 150px;
    max-width: 170px;
}

.cardCarrinho .tagPreco {
    display: flex;
    font-size: 14px;
    min-width: 150px;
    max-width: 170px;
}


.carrinho ul li .backImg {
    width: 100px;
    height: 100px;

}

.carrinho ul li img {
    width: 120px;
    height: 110px;
}

.carrinho_info {
    display: flex;
    padding: 20px;
    background-color: rgb(177, 248, 255);
    flex-wrap: wrap;
    gap: 20px;
    color: black;
    flex-direction: column;
}